<h1>Public#index</h1>
<p>Find me in app/views/social_signup/public/index.html.erb</p>

<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<% if current_user %><%= link_to "Edit User", edit_user_path(current_user) %><% end %>
<%= link_to "View Users", users_path %>
<%= link_to "Hi", {:controller=>"social_signup/users", :action=>"new"} %>